$borderColor: #eff3f4;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
  overflow: hidden;
}

#root {
  position: relative;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  width: 1265px;
  margin: 0 auto;
}

main.home {
  width: 990px;
  min-height: 100vh;
  margin-left: 275px;
  display: flex;
  justify-content: space-between;

  .primary-column {
    width: 600px;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    margin-bottom: 1rem;
  }

  .sidebar-column {
    width: 350px;
  }
}

.border--radius__max {
  border-radius: 9999px;
}

.default-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

#modal-background {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

#modal-background.show {
  display: block;
}

#modal-background.shadow {
  background-color: rgba(0, 0, 0, 0.4);
}

#nweet-modal,
#user-modal,
#more-modal {
  z-index: 9999;
}

.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50%;
}

.nweet-img {
  object-fit: cover;
}

.file-input {
  position: absolute;
  width: 1px;
  height: 1px;
}
